
/* Cards styling (one card rappresent one movie), body of this page */
.card {
    text-align: center;
    display: block;
    --background: rgb(10, 36, 46);
    margin: 0px;
    font-family: 'Open Sans', sans-serif;

    .movie-title {
        padding-left: 3px;
        color: #fff;
        font-size: 12px;
        text-transform: uppercase;
        margin: 0px;
        margin-top: 15px
    }

    p {
        margin: 0px;
        font-size: 10px;
    }
    
    .poster {
        width: 100%;
        margin: auto;
    }
}

