<ion-header>
  <ion-toolbar class="bg">
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">My collections</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">
  <ion-tabs>
    <!-- Tab bar -->
    <ion-tab-bar slot="bottom" color="medium">
      <ion-tab-button tab="bluray">
        <ion-label>Bluray</ion-label>
        <ion-icon name="disc"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="dvd">
        <ion-label>DVD</ion-label>
        <ion-icon name="disc"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>