<ion-header>
  <ion-toolbar class="bg">
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">Movie details</ion-title>
    <ion-icon slot="end" (click)="close()" name="arrow-round-back" class="back-button"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <ion-spinner *ngIf="loaded == false" name="crescent"></ion-spinner>
  <div *ngIf="loaded == true">
    <div class="background-poster">
      <img class="bg-image" src="https://image.tmdb.org/t/p/original/{{detail.backdrop_path}}" />
      <ion-icon name="play" class="playBtn" (click)="playTrailer()"></ion-icon>
    </div>
    <div class="title-container">
      <ion-row>
        <ion-col size="8">
          <h3>
            {{detail.title}}
          </h3>
          <p>{{detail.release_date.substring(0, 4)}} <span *ngFor="let gen of detail.genres">{{gen.name}}, </span></p>
        </ion-col>
        <ion-col size="4">
          <div class="rating">
            <circle-progress [showUnits]=false [innerStrokeWidth]="2" [outerStrokeWidth]="6"
              [percent]="10 * detail.vote_average" [titleColor]="'#fff'" [radius]="25" [showSubtitle]=false
              [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
              [animationDuration]="300">
            </circle-progress>
          </div>
        </ion-col>
      </ion-row>
    </div>

    <div class="poster-section">
      <ion-row padding>
        <ion-col size="5">
          <img src="{{detail.poster_path ? 'https://image.tmdb.org/t/p/w185'+detail.poster_path : 'assets/no-av.png'}}" class="poster">
        </ion-col>
        <ion-col size="7">
          <p>{{(detail.overview.length >210)? (detail.overview | slice:0:210)+'...':(detail.overview)}}</p>
          <ion-button expand="block" color="primary" padding (click)="addMyList()">add</ion-button>
        </ion-col>
      </ion-row>
    </div>

    <div class="poster-container">
      <h5 style="margin: 0px; margin-left: 20px; margin-top: 3px;">FULL CAST</h5>
      <ion-card *ngFor="let cast of credits.cast" class="card" (click)="addMyList(item)">
        <div>
          <img src="{{cast.profile_path ? 'https://image.tmdb.org/t/p/w92'+cast.profile_path : 'assets/no-av.png'}}" class="poster">
          <h6 class="movie-title">
            {{(cast.name.length>14)? (cast.name | slice:0:12)+'..':(cast.name)}}
          </h6>
        </div>
      </ion-card>
    </div>
  </div>
</ion-content>