<ion-header>
  <ion-toolbar class="bg">
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">{{ 'MOVIE-DETAILS.title' | translate:params }}</ion-title>
    <ion-icon slot="end" (click)="close()" name="arrow-round-back" class="back-button"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <div *ngIf="type=='movie'">
      <app-moviedetails [movieId]=id></app-moviedetails>
  </div>
  <div *ngIf="type=='show'">
      <app-showdetails [showID]=id></app-showdetails>
  </div>
</ion-content>