<ion-header>
  <ion-toolbar color="secondary">
    <ion-title color="primary">Cast details</ion-title>
    <ion-icon slot="end" (click)="close()" name="arrow-round-back" class="back-button"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <div class="spinner-container" *ngIf="loaded == false">
    <ion-spinner name="crescent" color="primary" class="spinner"></ion-spinner>
    <p>loading...</p>
  </div>
  <div *ngIf="loaded == true">
    <div class="title-container">
      <ion-row>
        <ion-col size="8">
          <h3>
            {{detail.name}}
          </h3>
          <p><span>{{detail.gender == 1 ? 'Female' : 'Male'}} </span> |
            {{detail.birthday != nulls? detail.birthday.substring(0, 4): '----'}} - {{detail.place_of_birth}}</p>
        </ion-col>
        <ion-col size="4">
          <div class="rating">
            <circle-progress [showUnits]=false [innerStrokeWidth]="2" [outerStrokeWidth]="6"
              [percent]="detail.popularity" [titleColor]="'#fff'" [radius]="25" [showSubtitle]=false
              [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
              [animationDuration]="300">
            </circle-progress>
          </div>
        </ion-col>
      </ion-row>
    </div>

    <div class="poster-section">
      <ion-row padding>
        <ion-col size="5">
          <img
            src="{{detail.profile_path ? 'https://image.tmdb.org/t/p/w185'+detail.profile_path : 'assets/no-av.png'}}"
            class="poster">
        </ion-col>
        <ion-col size="7">
          <p>{{(detail.biography.length > 335)? (detail.biography | slice:0:335)+'...':(detail.biography)}}</p>
        </ion-col>
      </ion-row>
    </div>

    <div class="list">
      <h5>CAST IN MOVIES:</h5>
      <div class="poster-container">
        <ion-card *ngFor="let item of movies.cast" class="card" (click)="movieDetails(item)">
          <div>
            <img src="{{item.poster_path? 'https://image.tmdb.org/t/p/w185'+item.poster_path: 'assets/no-av.png'}}"
              class="poster2">
            <h6 class="movie-title">
              {{(item.title.length>16)? (item.title | slice:0:16)+'..':(item.title)}}
            </h6>
          </div>
        </ion-card>
      </div>
    </div>

    <div class="list" *ngIf="movies.crew.length > 0">
      <h5>PART OF CREW:</h5>
      <div class="poster-container">
        <ion-card *ngFor="let item of movies.crew" class="card" (click)="movieDetails(item)">
          <div>
            <img src="{{item.poster_path? 'https://image.tmdb.org/t/p/w185'+item.poster_path: 'assets/no-av.png'}}"
              class="poster2">
            <h6 class="movie-title">
              {{(item.title.length>16)? (item.title | slice:0:16)+'..':(item.title)}}
            </h6>
          </div>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>