<ion-content class="bg">
    <ion-searchbar animated debounce="500" [formControl]="filterVal"
      placeholder="{{ 'WATCHLIST.filter' | translate:params }}" color="light" (ionClear)="reset($event)">
    </ion-searchbar>
  
    <ion-row class="bluray-list" *ngIf="loaded==true && dvdCollection.length>0">
      <ion-col size="6" *ngFor="let item of filteredItems" class="item">
        <ion-card class="card" (click)="manageItem(item)">
          <div>
            <ion-row>
              <img src="https://image.tmdb.org/t/p/w185{{item.poster}}" class="poster">
              <img src="assets/dvdcover.png" class="bg-image">
            </ion-row>
            <ion-row>
              <h6 class="movie-title">
                {{(item.title.length>13)? (item.title | slice:0:13)+'..':(item.title)}}
              </h6>
              <p>{{item.release_date}}</p>
            </ion-row>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <div class="no-movie" *ngIf="dvdCollection.length==0">
      <img src="assets/collection.svg">
      <h4>0 items added to your dvd collection!</h4>
    </div>
  </ion-content>