<ion-split-pane color="secondary">
  <ion-menu contentId="content">
    <ion-header>
      <ion-toolbar color="secondary">
        <ion-title color="primary">
          Menu
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content color="secondary">
      <ion-list no-padding>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
          <ion-item color="secondary" [routerLink]="p.url" routerDirection = "root" [class.active-item]="selectedPath == p.url">
              <ion-thumbnail item-start>
                  <ion-icon name={{p.icon}} color="primary" style="font-size:35px; margin-top: 10px;"></ion-icon>
              </ion-thumbnail>
            <ion-label color="primary">{{p.title}}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>
