<ion-tabs>
  <ion-tab-bar slot="explore">
    <ion-tab-button tab="schedule">
      <ion-icon name="film"></ion-icon>
      <ion-label>Explore</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="list">
      <ion-icon name="time"></ion-icon>
      <ion-label>Watchlist</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="disc"></ion-icon>
      <ion-label>Collections</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="collections">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>