<ion-content class="bg" padding>
  <ion-grid no-padding>
    <ion-row>
      <ion-col size="10" no-padding>
        <div class="search-container" (clickOutside)="onClickedOutside($event)">
          <ion-searchbar animated debounce="500" placeholder="{{ 'EXPLORE.searchtv' | translate:params }}"
            [formControl]="queryField" color="light" (ionClear)="reset($event)"></ion-searchbar>
          <div class="filter-select">
            <div *ngFor="let item of searchResults" class="filter-select-item" (click)="addMyList(item)">
              <img src="{{item.poster_path? 'https://image.tmdb.org/t/p/w185'+item.poster_path : 'assets/no-av.png'}}"
                alt="" class="filter-select-item-poster">
              <div class="filter-select-item-details">
                <p class="filter-select-item-title">
                  {{item.name}}
                </p>
                <p class="filter-select-item-title">
                  {{item.first_air_date}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col size="2" no-padding>
        <ion-icon (click)="loadList()" name="funnel" class="filter-button"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="spinner-container" *ngIf="loaded == false">
    <ion-spinner name="crescent" color="primary" class="spinner"></ion-spinner>
    <p>{{ 'EXPLORE.loading' | translate:params }}</p>
  </div>


  <ion-row class="moviesList" *ngIf="loaded == true">
    <ion-col size="6" *ngFor="let item of results">
      <ion-card class="card" (click)="addMyList(item)">
        <div>
          <img src="{{item.poster_path ? 'https://image.tmdb.org/t/p/w185'+item.poster_path : 'assets/no-av.png'}}" class="poster">
          <ion-row no-padding>
            <ion-col size="8" no-padding>
              <h6 class="movie-title">
                {{(item.name.length>13)? (item.name | slice:0:13)+'..':(item.name)}}
              </h6>
              <p>{{item.release_date}}</p>
            </ion-col>
            <ion-col size="4" no-padding>
              <circle-progress [showUnits]=false [innerStrokeWidth]="2" [outerStrokeWidth]="4"
                [percent]="10 * item.vote_average" [titleColor]="'#fff'" [titleFontSize]="12" [radius]="20"
                [showSubtitle]=false [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                [animationDuration]="300">
              </circle-progress>
            </ion-col>
          </ion-row>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'EXPLORE.mloading' | translate:params }}"
      color="primary">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>