<ion-content class="bg">
  <div class="spinner-container" *ngIf="isLoading == true">
    <div id="loader"></div>
  </div>
  <ion-tabs color="primary" *ngIf="isLoading == false">
    <ion-tab-bar slot="explore" color="secondary">
      <ion-tab-button tab="explore">
        <ion-icon name="film"></ion-icon>
        <ion-label>Explore</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="list">
        <ion-icon name="time"></ion-icon>
        <ion-label>Watchlist</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="collections">
        <ion-icon name="disc"></ion-icon>
        <ion-label>Collections</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>