<ion-header>
  <ion-toolbar class="bg">
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">Explore Movies</ion-title>
    <ion-icon slot="end" (click)="loadList()" name="albums" class="back-button"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="bg" padding>

  <div class="search-container" (clickOutside)="onClickedOutside($event)">
    <ion-searchbar animated debounce="500" placeholder="Search a movie" [formControl]="queryField" color="light"
      (ionClear)="reset($event)"></ion-searchbar>
    <div class="filter-select">
      <div *ngFor="let item of searchResults" class="filter-select-item" (click)="addMyList(item)">
        <img src="{{item.poster_path? 'https://image.tmdb.org/t/p/w185'+item.poster_path : 'assets/no-av.png'}}" alt=""
          class="filter-select-item-poster">
        <div class="filter-select-item-details">
          <p class="filter-select-item-title">
            {{item.title}}
          </p>
          <p class="filter-select-item-title">
            {{item.release_date}}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="spinner-container" *ngIf="loaded == false">
    <ion-spinner name="crescent" color="primary" class="spinner"></ion-spinner>
    <p>loading</p>
  </div>


  <ion-row class="moviesList" *ngIf="loaded == true">
    <ion-col size="6" *ngFor="let item of results">
      <ion-card class="card" (click)="addMyList(item)">
        <div>
          <img src="https://image.tmdb.org/t/p/w185{{item.poster_path}}" class="poster">
          <ion-row no-padding>
            <ion-col size="8" no-padding>
              <h6 class="movie-title">
                {{(item.title.length>13)? (item.title | slice:0:13)+'..':(item.title)}}
              </h6>
              <p>{{item.release_date}}</p>
            </ion-col>
            <ion-col size="4" no-padding>
              <circle-progress [showUnits]=false [innerStrokeWidth]="2" [outerStrokeWidth]="4"
                [percent]="10 * item.vote_average" [titleColor]="'#fff'" [titleFontSize]="12" [radius]="20"
                [showSubtitle]=false [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                [animationDuration]="300">
              </circle-progress>
            </ion-col>
          </ion-row>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..." color="primary">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>