<ion-header>
  <ion-toolbar class="bg">
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">Explore Movies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg" padding>
  <div class="container">
    <div class="logo-container">
      <img class="logo" src="https://cdn-images-1.medium.com/max/1200/1*vIR7iO-1GnY2xYxL6NiYkw.png"
        alt="logo">
    </div>
    <div class="search-container" (clickOutside)="onClickedOutside($event)">
      <input type="text" class="search__input" placeholder="Search a movie..." [formControl]="queryField" />
      <div class="filter-select">
        <div *ngFor="let item of searchResults" class="filter-select-item" (click)="addMyList(item)">
          <img src="{{item.poster_path? 'https://image.tmdb.org/t/p/w185'+item.poster_path : 'assets/no-av.png'}}" alt="" class="filter-select-item-poster">
          <div class="filter-select-item-details">
            <p class="filter-select-item-title">
              {{item.title}}
            </p>
            <p class="filter-select-item-title">
              {{item.release_date}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="lastest-movies">
    <h5>In Theaters Now</h5>
    <div class="poster-container">
      <ion-card *ngFor="let item of results" class="card" (click)="addMyList(item)">
        <div>
          <img src="https://image.tmdb.org/t/p/w185{{item.poster_path}}" class="poster">
          <h6 class="movie-title">
            {{(item.title.length>16)? (item.title | slice:0:16)+'..':(item.title)}}
          </h6>
        </div>
        <!--div class="middle">
            <div>
              <ion-button href="#" expand="block" color="success"> more info</ion-button>
            </div>
            <div>
              <ion-button expand="block" color="success" disabled="false" (click)="addMyWatchList(item)">+ Watch list <ion-icon name="checkmark-circle"></ion-icon></ion-button>
            </div>
            <div>
              <ion-button expand="block" color="success" disabled="false">+ Favorite <ion-icon name="checkmark-circle"></ion-icon></ion-button>
            </div>
          </div--> 
      </ion-card>
    </div>
  </div>

  <div class="lastest-movies">
    <h5>Top Rated</h5>
    <div class="poster-container">
      <ion-card *ngFor="let item of trendings" class="card" (click)="addMyList(item)">
        <div>
          <img src="https://image.tmdb.org/t/p/w185{{item.poster_path}}" class="poster">
          <h6 class="movie-title">
            {{(item.title.length>16)? (item.title | slice:0:16)+'..':(item.title)}}
          </h6>
        </div>
        <!--div class="middle">
          <div>
            <ion-button href="#" expand="block" color="success"> more info</ion-button>
          </div>
          <div>
            <ion-button href="#" expand="block" color="success"><ion-icon name="add-circle-outline"></ion-icon> Watch list</ion-button>
          </div>
          <div>
            <ion-button href="#" expand="block" color="success"><ion-icon name="add-circle-outline"></ion-icon> Favorite</ion-button>
          </div>
        </div-->
      </ion-card>
    </div>
  </div>
</ion-content>