<ion-content class="bg">
    <ion-searchbar animated debounce="500" [formControl]="filterVal"
    placeholder="{{ 'WATCHLIST.filter' | translate:params }}" color="light" (ionClear)="reset($event)">
  </ion-searchbar>
  <ion-list no-padding *ngIf="loaded==true && mwl.length>0">
    <ion-list-header color="secondary">
      <ion-label color="primary">{{ 'WATCHLIST.sub-title' | translate:params }}</ion-label>
    </ion-list-header>
    <ion-reorder-group disabled="false" (ionItemReorder)="reorderItems($event)">
      <ion-item *ngFor="let item of filteredItems; let i = index" color="secondary">
        <ion-label no-padding>
          <ion-card class="card">
            <div class="wrapper">
              <div class="one">
                <img src="https://image.tmdb.org/t/p/w185{{item.poster}}" class="poster">
              </div>
              <div class="two">
                <h5>{{(item.title.length>18)? (item.title | slice:0:18)+'..':(item.title)}}</h5>
              </div>
              <div class="three">
                <h6>
                  Added: {{item.date.toString().substring(0, 10)}}
                </h6>
              </div>
              <div class="four" (click)="movieDetails(item)">
                <ion-icon name="information-circle"></ion-icon>
              </div>
              <div class="five">
                  <ion-icon name="alarm" disabled="true" (click)="addFavorite(item)"></ion-icon>
              </div>
              <div class="six">
                  <ion-icon name="checkmark-circle-outline" (click)="removeFromList(i)"></ion-icon>
              </div>
            </div>
          </ion-card>
        </ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
    </ion-reorder-group>
  </ion-list>
  <div class="no-movie" *ngIf="mwl.length==0">
    <img src="assets/movie_img.svg">
    <h4>{{ 'WATCHLIST.add-msg' | translate:params }}</h4>
  </div>
</ion-content>
