<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-segment [(ngModel)]="selected" (ionChange)="updateSelected()">
      <ion-segment-button value="movie">
        MOVIES LIST
      </ion-segment-button>
      <ion-segment-button value="show">
        SHOWS LIST
      </ion-segment-button>
    </ion-segment>
    <ion-buttons slot="end">
      <ion-button (click)="reorderList()">
        <ion-icon slot="icon-only" name="paw"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="secondary">
    <ion-searchbar animated debounce="500" [formControl]="filterVal"
      placeholder="Filter in list" color="light" (ionClear)="reset($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">
  <ion-list no-padding *ngIf="filteredItems.length > 0">
    <ion-reorder-group [disabled]="reorder" (ionItemReorder)="reorderItems($event)">
      <ion-item *ngFor="let item of filteredItems; let i = index" color="secondary">
        <ion-label no-padding>
          <ion-card class="card">
            <ion-grid no-padding>
              <ion-row>
                <ion-col size="3" no-padding>
                  <img src="{{item.poster ? 'https://image.tmdb.org/t/p/w185'+item.poster : 'assets/no-av.png'}}"
                    class="poster">
                </ion-col>
                <ion-col size="9">
                  <ion-row>
                    <ion-col size="12">
                      <h5>
                        {{(item.title.length>18)? (item.title | slice:0:18)+'..':(item.title)}}
                      </h5>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="12">
                      <h6>
                        Added: {{item.date.toString().substring(0, 10)}}
                      </h6>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="3">
                    </ion-col>
                    <ion-col size="3">
                      <ion-icon (click)="showDetails(item)" name="information-circle"></ion-icon>
                    </ion-col>
                    <ion-col size="3">
                      <ion-icon name="checkmark-circle-outline" (click)="removeFromList(i)"></ion-icon>
                    </ion-col>
                    <ion-col size="3">
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
    </ion-reorder-group>
  </ion-list>
  <div class="no-movie" *ngIf="filteredItems.length == 0">
    <img src="assets/movie_img.svg">
    <h4>0 items added!</h4>
  </div>
</ion-content>