// http://ionicframework.com/docs/theming/

@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.bg {
    --background : #081C24;
}


.back-button {
    font-size: 30px; 
    padding-right:10px; 
    color: #01D277;
}

.filter-button{
  font-size: 30px; 
    padding-right:10px; 
    color: #01D277;
  margin-left: 10px;
  margin-top: 10px;
}

.spinner-container{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    p {
        color: #01D277;
    }
}

.hr {
    border-bottom: 1px solid #01D277;
    margin: 10px 0;
    width: 100%;
  }

  
  .no-movie {
    margin-top: 70px;
    text-align: center;
    img {
      margin: auto;
      padding-left: 10%;
      padding-right: 10%;
    }

    h4 {
        padding-left: 25px;
        padding-right: 25px;
        color: #fff;
    }
  }