.bg {
    --background : #081C24;
}

.card {
    text-align: center;
    display: inline-block;
    --background: #081C24;
    h6, h5 {
        color: #01D277;
        font-family: 'Fjalla One', sans-serif;
    }
    .poster {
        width: 120px;
        height: 160px;
        margin: auto;
    }
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2px;
  }
  .one {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
  }
  .two { 
    grid-column: 3 /6 ;
    grid-row: 1 ;
  }
  .three {
    grid-column: 3 / 6;
    grid-row: 2 ;
  }
  .four {
    grid-column: 3;
    grid-row: 3;
  }
  .five {
    grid-column: 4;
    grid-row: 3;
  }
  .six {
    grid-column: 5;
    grid-row: 3;
  }

  ion-icon {
    font-size: 24px;
    color: #01D277;
  }