<ion-header>
  <ion-toolbar class="bg">
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">{{ 'WATCHLIST.title' | translate:params }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">
  <ion-tabs >
    <!-- Tab bar -->
    <ion-tab-bar slot="bottom" color="medium">
      <ion-tab-button tab="movies">
          <ion-label>Movies</ion-label>
        <ion-icon name="Film"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="shows">
          <ion-label>Shows</ion-label>
        <ion-icon name="tv"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>